* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    min-width: 290px;
    color: rgb(32, 32, 32);
    background-color: rgb(186, 241, 184);
    font-family: 'Sniglet', cursive;
    line-height: 1.4;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top:0px;
    left:0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color:rgba(20, 20, 20, 0.6);
}

header{
    color:black;
    margin:10px;
    text-align: center;
    font-size:1.7em;
    font-weight: thin;
}

#main-doc header{
    text-align: left;
    margin: 0px;
}

#navbar ul{
    height: 88%;
    padding: 0;
    overflow-y:auto;
    overflow-x:hidden;
}

#navbar li {
    color:rgb(32, 32, 32);
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a{
    display: block;
    padding: 10px 20px;
    color:rgb(32, 32, 32);
    text-decoration: none;
    cursor: pointer;
}

#main-doc{
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    margin-bottom: 110px;
}

section article{
    color: rgb(32, 32, 32);
    margin:15px;
    font-size:1em;
}

section li{
    margin: 15px 0px 0px 20px;
}

code{
    display:inline-block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: rgb(248, 248, 248);
    padding: 12px;
    margin:8px;
    border-radius: 5px;
}


.main-section img{
    padding: 10px;
    margin: 5px;

}

figure {
    display: inline-block;
}

figure figcaption {
    margin: 2px 15px 15px 0px;
    padding: 5px;
    text-align: center;
}

/* mobile phones adjustment */

@media only screen and (max-width:880px) {

    #navbar ul{
        border: 1px solid;
        height: 205px;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top:0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 300px;
        border:none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc{
        position: relative;
        margin-left:0px;
        margin-top:300px;
    }
}

@media only screen and (max-width:400px) {
    #main-doc{
        margin-left:-10px;
    }

    code{
        margin-left: -15px;
        width: 100%;
        padding: 15px;
        padding-left:10px;
        padding-right: 30px;
        min-width: 230px;
    }

}