*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Marmelad', sans-serif;
    line-height: 1.6;
    background-color: rgb(3, 47, 97);
    line-height: 1.5;
    font-size: 1.5em;
    scroll-behavior: smooth;
}

@media (max-width:800px){
    body{
        font-size:60%;
    }
}

@media (max-width:550px){
    body{
        font-size:50%;
    }
}


@media (max-width:350px){
    body{
        font-size:40%;
    }
}

h1, h2, h3{
text-align: center;
}

img{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color:white;
}

/* navbar-section */

nav{
    padding: 10px;
    margin: 0px;
    background-color: rgb(68, 112, 179);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    right: 0;
    height: 90px;
    font-size: 22px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 2px 0 rgba(0,0,0,0.5);
 
}

nav li{
    list-style: none;
    text-decoration: none;
    color:white;
    display: inline-block;
    margin-right: 13px;
    
    
}

nav li:hover{
    color:rgb(0, 13, 128)
}

@media (max-width: 800px){
    nav{
        font-size: 16px;
        height: 75px;
    }
}

/* welcome-section */
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 46, 88);
}

.welcome > h1{
    font-size:2em;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.welcome > h3{
    font-size:1.2em;
    font-weight: 200;
    font-style: italic;
    color: rgb(1, 161, 1);
}


/* project-section (showcase)*/

.showcase{
    text-align: center;
    padding: 10rem 2rem;
    background-color: black;
}  


.project-header{
    max-width: 650px;
    margin:0 auto 5rem auto;
    border-bottom: 0.3rem solid white;
    color: white;
}

@media (max-width: 800px){
    .project-header{
        font-size:3rem;
    }
}

@media (max-width: 550px){
    .project-header{
        font-size:1.75rem;
    }
}


.cover-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap:4rem;
    max-width: 1280px;
    margin:0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 800px) {
    .showcase {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }

  .project{
      background: black;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
  }

.code{
    color:rgb(121, 120, 120);
    transition: color 0.4s ease-out;
}

.project:hover .code{
    color:#ff7f50;
}

.project-image{
    height: 320px;
    padding: 4px 2px;
}

.btn{
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
}

.btn-show-all{
    font-size:18px;
    background-color: grey;
    transition: background 0.3s ease-out;
}

.btn-show-all:hover{
    background-color: lightblue;
}

.btn-show-all:hover > i {
    transform: translateX(2px);
  }

  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

  